.wrapper {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  background-color: transparent;
  color: #fff;
}

.title {
  margin-bottom: var(--mantine-spacing-xl);
  font-weight: 700;
  color: #fff;
}

.item {
  border-radius: var(--mantine-radius-md);
  border: 1px solid #222;
  margin-bottom: var(--mantine-spacing-sm);
  transition:
    transform 120ms ease,
    box-shadow 120ms ease;
  background-color: #0b0b0d;
  color: #fff;
}

.item:hover {
  box-shadow: var(--mantine-shadow-sm);
}
