.title {
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.3px;
  color: #fff;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: var(--mantine-spacing-md) auto;
  text-align: center;
  color: #ccc;

  &::after {
    content: '';
    display: block;
    background-color: #3b82f6; 
    width: 45px;
    height: 2px;
    margin: var(--mantine-spacing-sm) auto 0 auto;
  }
}

.card {
  border: 1px solid #333; 
  background-color: #0b0b0d;
  border-radius: var(--mantine-radius-md);
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); 
  }
}

.cardTitle {
  font-weight: 600;
  text-align: center;
  color: #fff;

  &::after {
    content: '';
    display: block;
    background-color: #3b82f6;
    width: 40px;
    height: 2px;
    margin: var(--mantine-spacing-xs) auto 0 auto;
  }
}
